/* h3{
    color:green;
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize; 
    text-decoration: underline;
    text-decoration-style:wavy;
    text-decoration-color: red;
    text-decoration-skip:24px;
    text-decoration-thickness: 4px;

    background-color:aquamarine;
    width:fit-content;
    height: fit-content;
}
h1{
    background-color:rgb(49, 1, 1);
    color:white;
}  */

/* body{
    margin: 0px;
    padding: 0px;
}
.menu{
    background-color: red;
    display: flex;
    padding: 10px 0px;
    gap: 30px;
}
.navitem {
    font-size: 18px;
    padding: 0px;
    text-transform: capitalize;
    margin: 0px;
    font-weight: 400;
    color: white;
} */
 /* body{
    margin: 0px;
    padding: 0px;
 }
 .Menu{
    margin: 0px;
    padding:0px;
    background-color: rgb(49, 2, 2);
    display: flex;
    gap: 30px;
    align-items: center;
 }
 .logo {   
    font-size: 22px;
    color: white;

 }
 .menuitems{
    display: flex;
    width: 10px;
    color: white;
 }
 .navitem{
    /* display: flex; */
    /* color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 10px;
    font-weight: 400;
    text-transform: capitalize;
    /* gap: 1000; */
/* } */
/* 
.menu{
    margin: 0px;
    padding: 0px;
    background-color:white;
    /* display: flex;
    gap */ 
/* } */

body{
    margin: 0px;
    padding: 0px;
}
.menu{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 1, 1);

    align-content: center;
}
.menuitem{
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
    align-items: center;
    
}
.Logo{
    font-size: 17px;
}
.fatima{
    color:yellow;
    padding: 0px 0px 0px 20px;
    /* margin: 0px; */
}
.collection{
    color: white;
    padding: 0px 5px ;
}
.item{
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
